@import "TailwindCSS";

body {
    overflow-x: hidden;
}
  
@media (max-width: 768px) {
    .navbar {
      display: none;
    }
    .sidebar {
      width: 100%;
      position: relative;
    }
    .dashboard {
      padding: 1rem;
    }
    .mood-tracker {
      margin-top: 1rem;
    }
}

